@import "~primereact/resources/themes/saga-blue/theme.css";
/* Change theme if needed */
@import "~primereact/resources/primereact.min.css";
@import "~primeicons/primeicons.css";

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #f0f3f6 !important; */
  font-size: 13px !important;
  font-weight: 500;
  font-family: "Poppins, Helvetica, " sans-serif"" !important;
  color: #7b809a !important;
  height: 100vh;
   background: #e0e5eb !important;
}

:root {
  font-family: "Poppins, Helvetica, " sans-serif"" !important;
}

.p-component {
  font-family: "Poppins, Helvetica, " sans-serif"" !important;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #dd693924 !important;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: none;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.required:after {
    content: '*';
    position: relative;
    font-size: inherit;
    color: red;
    padding-left: 0.25rem;
    font-weight: bold;
  }

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-pic:hover {
  cursor: pointer;
}

img {
  object-fit: contain;
}

.btn {
  font-size: 12px;
}

.btn.btn-icon.btn-xs {
  height: 24px;
  width: 24px;
}

.pi-pencil:before {
  color: white !important;
}

.btn-icon .pi {
  color: white !important;
}

.btn > .pi {
  font-size: 0.74rem !important;
  font-weight: 600;
}


.btn-icon:hover {
  cursor: pointer !important;
}

.btn-danger-secondary {
  background: white !important;
  background-color: white !important;
  border: 1px solid #d13333 !important;
  color: #d13333 !important;
}

.btn-primary-bordered {
  background: white !important;
  background-color: white !important;
  border: 1px solid #ff6600 !important;
  color: #ff6600 !important;
}

.btn-primary-bordered.p-button:hover {
  background-color: white !important;
  color: #ff6600 !important;
}

.p-button>.pi-pencil:before {
  color: #ff6600 !important;
}

.btn-primary,
.p-button,
.p-button:hover {
  color: #ffffff !important;
  border-color: #ff6600 !important;
  background-color: #ff6600 !important;
}

.btn-primary-bordered.p-button {
  color: #ff6600 !important;
  background-color: white !important;
}

.btn.btn-danger {
  color: #ffffff !important;
  border-color: #d13333 !important;
  background-color: #d13333 !important;
}

.btn-secondary {
  background-color: #b5b5c3 !important;
}

.btn-danger-secondary .pi {
  color: #d13333 !important
}

@media (max-width: 991px) {
  .btn {
    width: 100%;
  }

  .p-fileupload-buttonbar>.p-button {
    width: 100%;
  }
}

.btn-lg {
  padding: 1.0rem 1rem;
}

.btn.btn-light-primary {
  color: #ff6600;
  border-color: #f1faff;
  background-color: #f1faff;
}

a {
  text-decoration: none !important;
}

.dashboard-wrapper {
  align-items: start;
  height: 143px;
  display: flex;
  padding: 1.5rem;
  background-color: #848484;
  color: white;
  border-radius: 5px;
  letter-spacing: 0.1rem;
}

.wrapper-bg {
  height: 302px;
  align-items: end;
}

.wrapper-primary {
  background-color: #dd6939 !important;
}

.fw-bold {
  font-weight: 500 !important;
}

.ls-1 {
  letter-spacing: 0.1rem;
}

.subLayout-bg {
  /* background: rgb(39 44 72) !important; */
}

.menu-item {
  font-weight: 500;
  color: #848484 !important;
}

.menu-item:hover {
  color: #dd6939 !important;
}

.svg-inline--fa {
  color: white !important
}

.logoImage {
  object-fit: contain !important;
}

.toolbar {
  display: flex;
  align-items: center;
  padding: 0.7rem;
  justify-content: space-between;
}

.card {
  border: none !important;
}

.text-muted {
  color: #a1a5b7 !important;
}

.login-overlay.p-overlaypanel {
  width: 250px !important;
  max-width: 250px !important;
}

a.text-muted {
  font-size: 13px !important;
}

a:hover,.text-link {
  color: #dd6939 !important;
}

.p-button.p-button-warning.p-button-text {
  background: transparent !important;
  border-color: transparent !important;
  color: #dd6939 !important;
}

.p-button.p-button-warning.p-button-text:hover {
  background: rgba(251, 192, 45, 0.10) !important;
}

.item {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.item:hover {
  transform: scale(1.1);
}

.sidebar-card {
  display: flex;
  justify-content: center;
  align-items: start;
  height: 50px;
  width: 100%;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2),
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border: 1px solid #fbc02d1a;
  padding-left: 10%;
  border-radius: 5px;
  font-weight: 600;
}

.active {
  background-color: #dd6939 !important;
  transform: scale(1.1);
}

.sidebar-card:hover,  .sidebar-card:hover > a:hover:focus{
  color: white !important;
  background-color: #dd6939;
}

.bg-default {
  background-color: rgb(39 44 72) !important;
}

a {
  color: #dd6939 !important
}

.topNav {
  /* box-shadow: 0 0 28px 0 rgb(82 63 105) !important; */
}

.dasboard-card {
  padding: 1rem;
  background-color: #dd693900;
  box-shadow: 0 0 28px 0 rgb(82 63 105) !important;
  border-radius: 5px;
}

.dashboard-subcard {
  border-radius: 3px !important;
}

.rbc-btn-group .rbc-toolbar-label+button,
.rbc-toolbar button {
  margin-right: 10px;
  background-color: #dd6939 !important;
    color: white !important
}

.rbc-btn-group>button:first-child:not(:last-child) {
      border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
}

.rbc-btn-group>button:not(:first-child):not(:last-child) {
  border-radius: 4px;
}

.rbc-btn-group>button:last-child:not(:first-child) {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.rbc-btn-group .rbc-toolbar-label+button:hover,
.rbc-toolbar button:hover {
  background-color: #dd6939 !important;
    color: white !important
}

.rbc-calendar {
  background-color: transparent !important;
}

.rbc-toolbar button {
  border: none !important
}

.rbc-event {
  background-color: #dd6939 ;
}

.rbc-today {
  background-color: transparent !important;
}

.rbc-current > .rbc-button-link {
  color: #dd6939 !important;
}

.rbc-day-slot .rbc-time-slot {
  border-top: none !important
}


.card {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
}

.card-header:first-child {
  border-radius: var(--bs-card-inner-border-radius) var(--bs-card-inner-border-radius) 0 0;
}

.border-radius-xl {
  border-radius: .75rem;
}

.icon-lg {
  width: 64px;
  height: 64px;
}

.icon-shape {
  width: 55px;
  height: 55px;
  background-position: 50%;
  border-radius: .5rem;
}

.bg-gradient-dark {
  background-image: linear-gradient(195deg, #42424a, #191919);
}

.bg-gradient-info {
  background-image: linear-gradient(195deg, #49a3f1, #1a73e8);
}

.bg-gradient-warning {
  background-image: linear-gradient(195deg, var(--bs-yellow), var(--bs-warning));
}

.bg-gradient-success {
  background-image: linear-gradient(195deg, var(--bs-teal), var(--bs-green));
}

.bg-gradient-gray {
  background-image: linear-gradient(195deg, var(--bs-gray-500), #6f7a84);
}

.bg-gradient-danger {
  background-image: linear-gradient(195deg, #d98d94, var(--bs-danger));
}

.shadow-dark {
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(64, 64, 64, .4) !important;
}

.mt-n4 {
  margin-top: -1.5rem !important;
}

.position-absolute {
  position: absolute !important;
}

.icon {
  fill: currentColor;
  stroke: none;
}

hr.horizontal.dark {
  background-image: linear-gradient(90deg, transparent, rgba(0, 0, 0, .4), transparent);
}

hr.horizontal {
  background-color: transparent;
}

.card>hr {
  margin-right: 0;
  margin-left: 0;
}

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.p-toast-message-text {
  text-align: left !important;
}

.table-header {
  margin-top: -30px;
  background-color: #dd6939;
  color: white;
  font-size: 16px;
  font-weight: 600;
  height: 70px;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  align-items: center;
}

.card-header {
  background-color: white !important;
  border-bottom: none !important;
}

.p-datatable .p-datatable-thead>tr>th , .p-datatable .p-datatable-thead>tr>th>.p-icon {
  background-color: white !important;
  text-transform: uppercase !important;
  color: #7b809a !important;
  font-size: .65rem !important;
  font-weight: 700;
}

.p-datatable .p-datatable-tbody>tr>td {
  font-size: 0.75rem;
  color: #344767 !important;
  font-weight: 600;
  letter-spacing: 0.3px;
}

.p-datatable .p-datatable-tbody>tr:nth-child(even) td {
  background-color: #dd693924 !important;
}

.p-datatable.p-datatable-selectable .p-datatable-tbody>tr.p-selectable-row:not(.p-highlight):not(.p-datatable-emptymessage):hover {
  background-color: white !important;
}



.p-inputtext:enabled:focus {
  box-shadow: none !important;
  border-color: none !important;
}

.p-paginator .p-paginator-pages .p-paginator-page.p-highlight, .p-paginator .p-paginator-pages .p-paginator-page:not(.p-highlight):hover {
      background: #dd693924 !important;
        border-color: #dd693924 !important;
        border-radius: 50% !important;
        font-size: 0.75rem;
}

.p-paginator, .p-paginator > .p-dropdown > .p-dropdown-label {
  font-size: 0.75rem;
}

.p-dropdown-items {
  padding-left: 0 !important;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight.p-focus {
  background: #dd693924 !important;
}

.p-column-filter-menu {
  margin-left: 0 !important;
}

.p-column-filter-buttonbar > .p-button {
  border-radius: 5px !important;
}

.p-button:hover {
  box-shadow: 0 4px 6px -1px rgba(221, 105, 57, 0.7),
    0 2px 4px -1px rgba(221, 105, 57, 0.7);
}

ol,
ul {
  padding-left: 0 !important;
}

.p-dropdown-item.p-focus, td.p-datepicker-today > span, .p-datepicker:not(.p-disabled) table td span:not(.p-highlight):not(.p-disabled):hover {
  background: #dd693924 !important;
}

.p-button:hover {
  cursor: pointer !important;
}

.p-datepicker-trigger.p-button {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.p-dialog-header, .p-dialog-header-icons {
  background: #dd6939 !important;
  color: whitesmoke !important;
}

.p-dialog .p-dialog-header .p-dialog-header-icon,.p-dialog .p-dialog-header .p-dialog-header-icon:enabled:hover {
  color: white;
  border-color: transparent;
  background: transparent;
}

.btn:focus-visible,.btn-check:focus+.btn-primary,
.btn-primary:focus {
  box-shadow: none !important;
}